<div flex>
  <md-content >
    <md-tabs md-center-tabs md-border-bottom md-dynamic-height md-selected="selectedIndex">

      <!-- <md-tab md-on-select="onTabChanges(0)" label="Места"> -->
      <md-tab label="Места" md-on-select="onTabSelected(0)">
        <!-- <label class="md-padding"> -->
        <md-input-container class="md-block search-place" flex-gt-sm>
            <label>Поиск</label>
            <input ng-model="search.name">
          </md-input-container>
          <!-- <input ng-model="search.name" style="margin-left: 20px;"> -->
        <!-- </label> -->
        <md-content class="md-padding">
          <div class="tab-content">
            <md-list flex>
              <div ng-if="placesLoading">
                Загрузка...
              </div>

              <md-list-item class="md-2-line" ng-repeat="item in placesContent | filter:search:strict | orderBy: 'colorCode'" ng-click="$getPlace(item.id)">
                <div class="md-list-item-text" layout="column">
                  <h3>
                    <i class="material-icons md-dark md-inactive place-color" ng-style="{color: item.colorCode }">fiber_manual_record</i>
                    {{ item.name }}
                  </h3>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-content>
      </md-tab>

      <!-- <md-tab md-on-select="onTabChanges(1)" label="Маршруты"> -->
      <md-tab label="Маршруты"  md-on-select="onTabSelected(1)">
        <md-content class="md-padding">
          <div class="tab-content">
            <div ng-controller="menuCtrl" ng-cloak layout="column" layout-align="center center">
            <span class="md-headline">Экспресс Петербург</span>

            <div ng-hide="previousRoute">
              <form ng-controller="assembleRouteCtrl" name="myForm">
                <p>
                  Выберите количество времени и тип заведения
                </p>

                <md-slider-container>
                  <span>Время</span>
                  <md-slider md-discrete flex min="1" max="8" ng-model="data.time" aria-label="red" id="red-slider">
                  </md-slider>
                  <md-input-container class="md-input-has-placeholder">
                    ч.
                  </md-input-container>
                </md-slider-container>

                <div layout="row" layout-align="space-around">
                  <div layout="column" layout-align="center">
                    <md-checkbox ng-model="data.type.bar">Выпить</md-checkbox>
                    <md-checkbox ng-model="data.type.park">Погулять</md-checkbox>
                  </div>
                  <div layout="column" layout-align="center">
                    <md-checkbox ng-model="data.type.restaurant">Поесть</md-checkbox>
                    <md-checkbox ng-model="data.type.fastfood">Товары</md-checkbox>
                  </div>
                </div>

                <div layout="row" layout-align="space-around" flex>
                  <md-switch ng-init="data.nearby = false" ng-model="data.nearby" aria-label="Switch_1">
                    Рядом
                  </md-switch>
                  <md-switch ng-init="data.night = false" ng-model="data.night" aria-label="Switch_2">
                    Ночь
                  </md-switch>
                </div>
                
                <div layout="row" layout-align="end" flex>
                  <md-button ng-click="clearValue()" ng-disabled="!(data.type || data.time)">Очистить</md-button>
                  <md-button ng-click="save()" class="md-primary">Старт</md-button>
                </div>
              </form>
            </div>

            <div ng-show="previousRoute">
              <div layout="column" layout-align="end" flex>
                <md-button ng-click="startPreviousRoute()" class="md-primary">Продолжить</md-button>
                <md-button ng-click="startNewRoute()" class="md-primary">Новый маршрут</md-button>
              </div>
            </div>

          </div>
          </div>
        </md-content>
      </md-tab>

      <!-- <md-tab md-on-select="onTabChanges(2)" label="Эксперты"> -->
      <md-tab label="Эксперты" md-on-select="onTabSelected(2)">
        <md-content class="md-padding">
          <div class="tab-content">
            <md-list flex>
              <div ng-if="expertsLoading">
                Загрузка...
              </div>
              <md-list-item class="md-2-line" ng-repeat="item in expertsContent" ng-click="$expertRoute(item.id)">
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.expert }}</h3>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content >
</div>
