<div flex>
  <md-content >
    <md-tabs md-center-tabs md-border-bottom md-dynamic-height>

      <md-tab label="Места">
        <md-content class="md-padding">
          <div class="tab-content">
            <md-list flex>
              <div ng-if="dataLoading">
                Загрузка...
              </div>
              <md-list-item class="md-2-line" ng-repeat="item in content" ng-click="null">
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.name }}</h3>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Маршруты">
        <md-content class="md-padding">
          <div class="tab-content">
            <md-list flex>
              <md-list-item class="md-2-line" ng-repeat="item in [1, 2]" ng-click="null">
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item }}</h3>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Эксперты">
        <md-content class="md-padding">
          <div class="tab-content">
            <md-list flex>
              <md-list-item class="md-2-line" ng-repeat="item in [1, 2, 3]" ng-click="null">
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item }}</h3>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content >
</div>
