<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-controller="mainCtrl" aria-label="Go Back" ng-click="$back()">
      Назад
    </md-button>
    <span flex></span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <div class="tab-content">
    <md-content>
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <i class="material-icons md-dark md-inactive place-color" ng-style="{color: content.colorCode }">fiber_manual_record</i>
              {{content.name}}
            </span>
            <span class="md-subhead">
              <div ng-if="dataLoading">
                Загрузка...
              </div>
              <div ng-if="!dataLoading">
                <p>{{content.description}}</p>
                <p>Адрес: {{content.address}}</p>
                <p>Время работы: {{content.work_time}}</p>         
              </div>
            </span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </md-content>
  </div>
</md-content>
<md-content>
  <md-card-actions layout="row" layout-align="end" class="control-place-buttons">
    <md-button class="md-icon-button md-accent control-button" aria-label="Settings" ng-click="routeToPlace(content.lat, content.lon)">
      <md-icon md-font-library="material-icons" class="control-button-icon">directions</md-icon>
    </md-button>
    <md-button class="md-icon-button md-primary control-button" aria-label="Favorite" ng-click="showPlace(content.lat, content.lon)">
      <md-icon md-font-library="material-icons" class="control-button-icon">place</md-icon>
    </md-button>
  </md-card-actions>
</md-content>
