<md-toolbar>
  <div class="md-toolbar-tools">
      <md-button ng-controller="mainCtrl" aria-label="Go Back" ng-click="$back()">
        Назад
      </md-button>
    <span flex></span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <div class="tab-content">
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="item in content">
          <div class="md-list-item-text" layout="column">
          <md-card md-theme-watch>
            <md-card-title>
              <md-card-title-text style="display: inline;">
                <span class="md-headline">
                  {{item.name}}
                </span>
                <md-button ng-controller="routeCtrl" ng-click="checkedPlace(item.id)" ng-hide="userChoice">
                  Посетил
                </md-button>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <span class="md-subhead">
                <div ng-if="dataLoading">
                  Загрузка...
                </div>
                <div ng-if="!dataLoading">
                  <p>{{item.description}}</p>
                  <!-- <p>Адрес: {{item.address}}</p>
                  <p>Время работы: {{item.work_time}}</p> -->
                </div>
              </span>
              <md-card-actions ng-controller="placeCtrl" layout="row" layout-align="end center">
                <md-button ng-click="routeToPlace(item.lat, item.lon)">Сюда</md-button>
                <md-button ng-click="showPlace(item.lat, item.lon)">На карте</md-button>
              </md-card-actions>
            </md-card-content>
          </md-card>
        </div>
        </md-list-item>
      </md-list>
      <md-card-actions layout="row" layout-align="end center" ng-show="userChoice">
        <md-button ng-click="setRoute()"><h3>Иду!</h3></md-button>
      </md-card-actions>
  </div>
</md-content>
