<md-toolbar>

  <div class="md-toolbar-tools" layout-align="space-between" ng-hide="userChoice">
      <md-button ng-controller="mainCtrl" aria-label="Go Back" ng-click="$back()">
        Назад
      </md-button>
      <md-button ng-controller="menuCtrl" aria-label="New" ng-click="startNewRouteFromDirection()">
        Новый
      </md-button>
      <!-- <span flex></span> -->
  </div>

  <div class="md-toolbar-tools" ng-show="userChoice">
      <md-button ng-controller="mainCtrl" aria-label="Go Back" ng-click="$back()">
        Назад
      </md-button>
      <span flex></span>
  </div>

</md-toolbar>
<md-content id="kek" class="md-padding">
  <div class="tab-content">
      <md-list flex>

        <!-- Info -->
        <md-list-item class="md-2-line" ng-hide="userChoice">
          <div class="md-list-item-text" layout="column">

            <md-card md-theme-watch ng-if="nightMode">
              <md-card-content style="text-align: center; background-color: #142634; color: white;">
                <span class="md-subhead">
                  <div ng-if="infoLoading">
                    Загрузка...
                  </div>
                  <div ng-if="!infoLoading">
                    Ночной <i class="material-icons">brightness_3</i>
                  </div>
                </span>
              </md-card-content>
            </md-card>

            <md-card md-theme-watch>
              <md-card-title>
                <md-card-title-text style="display: inline;">
                  <span class="md-headline">
                    Маршрут
                  </span>       
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <span class="md-subhead">
                  <div ng-if="infoLoading">
                    Загрузка...
                  </div>
                  <div ng-if="!infoLoading">
                    <p>Количество мест: {{info.places.length}}</p>
                    <p>Расстояние: {{(info.totalDistance|number:1)}} км</p>
                    <p>Время: ~{{info._totalTime}} ч</p>
                    <div layout="row" layout-align="center center" layout-wrap>
                      <md-button class="md-warn" style="color: #ee8208;" ng-click="showRouteOnMap()">
                      На карте
                      </md-button>
                    </div>
                  </div>
                </span>
              </md-card-content>
            </md-card>
          </div>
        </md-list-item>

        <!-- Places -->
        <md-list-item class="md-2-line" ng-repeat="item in content">
          <div class="md-list-item-text" layout="column">
          
          <!-- Distance from A to B -->
          <div layout="row" layout-align="center" ng-hide="userChoice">
            <i class="material-icons">directions_run</i>
            ~{{(item.distance|number:1)}} км
          </div>
          <div layout="row" layout-align="center" ng-hide="userChoice">
          <i class="material-icons">expand_more</i>
          </div>
          
          <md-card md-theme-watch>
            <md-card-title>
              <md-card-title-text style="display: inline;">
                <span class="md-headline">
                  <i class="material-icons md-dark md-inactive place-color" ng-style="{color: item.colorCode }">fiber_manual_record</i>
                  {{item.name}} 
                  [{{item.placeTag}}]
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <span class="md-subhead">
                <div ng-show="dataLoading">
                  Загрузка...
                </div>
                <div ng-show="!dataLoading">
                  <p>
                    {{item.description}}
                  </p>
                </div>
              </span>

              <!-- Maps buttons -->
              <md-card-actions layout="row" layout-align="space-between">
                <div>
                  <md-button class="md-icon-button control-button" ng-click="checkedPlace(item.id)" ng-hide="userChoice">
                    <i class="material-icons control-button-icon" style="color: green">done</i>
                  </md-button>
                  <md-button class="md-icon-button control-button" ng-click="deletePlace(item.id)" ng-hide="userChoice">
                    <i class="material-icons control-button-icon" style="color: red">clear</i>
                  </md-button>
                </div>

                <div>
                  <md-button class="md-icon-button md-accent control-button" aria-label="Settings" ng-click="routeToPlace(item.lat, item.lon)">
                    <md-icon md-font-library="material-icons" class="control-button-icon">directions</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary control-button" aria-label="Favorite" ng-click="showPlace(item.lat, item.lon)">
                    <md-icon md-font-library="material-icons" class="control-button-icon">place</md-icon>
                  </md-button>
                </div>
              </md-card-actions>
            </md-card-content>
          </md-card>
        </div>
        </md-list-item>
      </md-list>
  </div>
</md-content>
<md-content>
  <md-card-actions layout="row" layout-align="end center" ng-show="userChoice">
    <md-button ng-click="setRoute()">Иду!</md-button>
  </md-card-actions>
  <div ng-controller="placeCtrl"></div>
</md-content>
